.rounded-rectangle.card {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    transition: transform 0.8s ease, box-shadow 0.8s ease;
}

.rounded-rectangle.card:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    transform: scale(0.975);
}

.rounded-rectangle-body {
    display: flex;
    height: 100%;
    width: 100%;
}

.left-div {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle-image {
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.right-div {
    width: 66.67%;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    color: white;
    font-size: 1rem;
    text-align: left;
    flex-direction: column
}
